# Node modules and build artifacts
node_modules
.next
.turbo
.cache

# Git related
.git
.gitignore

# Environment files
.env*
!.env.example

# Development files
README.md
*.log
.DS_Store
*.md
*.txt
!LICENSE.txt
.vscode
.idea
docker-compose.yml

